<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit2cloud.netty.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.fit2cloud.netty.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="admin" jdbcType="BIT" property="admin" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
    <result column="active_code" jdbcType="VARCHAR" property="activeCode" />
    <result column="active_timeout" jdbcType="TIMESTAMP" property="activeTimeout" />
    <result column="forget_code" jdbcType="VARCHAR" property="forgetCode" />
    <result column="forget_timeout" jdbcType="TIMESTAMP" property="forgetTimeout" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="ldap_id" jdbcType="VARCHAR" property="ldapId" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="last_mode" jdbcType="VARCHAR" property="lastMode" />
    <result column="current_group_id" jdbcType="BIGINT" property="currentGroupId" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="cost_center_id" jdbcType="BIGINT" property="costCenterId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, email, source, access_token, status, created, admin, company, phone, active_code, 
    active_timeout, forget_code, forget_timeout, last_login, description, ldap_id, staff_id, 
    last_mode, current_group_id, user_type, cost_center_id
  </sql>
  <select id="selectByExample" parameterType="com.fit2cloud.netty.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fit2cloud.netty.model.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.fit2cloud.netty.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="accessToken != null">
        access_token,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="admin != null">
        admin,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="activeCode != null">
        active_code,
      </if>
      <if test="activeTimeout != null">
        active_timeout,
      </if>
      <if test="forgetCode != null">
        forget_code,
      </if>
      <if test="forgetTimeout != null">
        forget_timeout,
      </if>
      <if test="lastLogin != null">
        last_login,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="ldapId != null">
        ldap_id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="lastMode != null">
        last_mode,
      </if>
      <if test="currentGroupId != null">
        current_group_id,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="costCenterId != null">
        cost_center_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="admin != null">
        #{admin,jdbcType=BIT},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="activeCode != null">
        #{activeCode,jdbcType=VARCHAR},
      </if>
      <if test="activeTimeout != null">
        #{activeTimeout,jdbcType=TIMESTAMP},
      </if>
      <if test="forgetCode != null">
        #{forgetCode,jdbcType=VARCHAR},
      </if>
      <if test="forgetTimeout != null">
        #{forgetTimeout,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="ldapId != null">
        #{ldapId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="lastMode != null">
        #{lastMode,jdbcType=VARCHAR},
      </if>
      <if test="currentGroupId != null">
        #{currentGroupId,jdbcType=BIGINT},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="costCenterId != null">
        #{costCenterId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fit2cloud.netty.model.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.accessToken != null">
        access_token = #{record.accessToken,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.admin != null">
        admin = #{record.admin,jdbcType=BIT},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=BIGINT},
      </if>
      <if test="record.activeCode != null">
        active_code = #{record.activeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.activeTimeout != null">
        active_timeout = #{record.activeTimeout,jdbcType=TIMESTAMP},
      </if>
      <if test="record.forgetCode != null">
        forget_code = #{record.forgetCode,jdbcType=VARCHAR},
      </if>
      <if test="record.forgetTimeout != null">
        forget_timeout = #{record.forgetTimeout,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLogin != null">
        last_login = #{record.lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.ldapId != null">
        ldap_id = #{record.ldapId,jdbcType=VARCHAR},
      </if>
      <if test="record.staffId != null">
        staff_id = #{record.staffId,jdbcType=VARCHAR},
      </if>
      <if test="record.lastMode != null">
        last_mode = #{record.lastMode,jdbcType=VARCHAR},
      </if>
      <if test="record.currentGroupId != null">
        current_group_id = #{record.currentGroupId,jdbcType=BIGINT},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.costCenterId != null">
        cost_center_id = #{record.costCenterId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      access_token = #{record.accessToken,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      admin = #{record.admin,jdbcType=BIT},
      company = #{record.company,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=BIGINT},
      active_code = #{record.activeCode,jdbcType=VARCHAR},
      active_timeout = #{record.activeTimeout,jdbcType=TIMESTAMP},
      forget_code = #{record.forgetCode,jdbcType=VARCHAR},
      forget_timeout = #{record.forgetTimeout,jdbcType=TIMESTAMP},
      last_login = #{record.lastLogin,jdbcType=TIMESTAMP},
      description = #{record.description,jdbcType=VARCHAR},
      ldap_id = #{record.ldapId,jdbcType=VARCHAR},
      staff_id = #{record.staffId,jdbcType=VARCHAR},
      last_mode = #{record.lastMode,jdbcType=VARCHAR},
      current_group_id = #{record.currentGroupId,jdbcType=BIGINT},
      user_type = #{record.userType,jdbcType=INTEGER},
      cost_center_id = #{record.costCenterId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fit2cloud.netty.model.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="admin != null">
        admin = #{admin,jdbcType=BIT},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="activeCode != null">
        active_code = #{activeCode,jdbcType=VARCHAR},
      </if>
      <if test="activeTimeout != null">
        active_timeout = #{activeTimeout,jdbcType=TIMESTAMP},
      </if>
      <if test="forgetCode != null">
        forget_code = #{forgetCode,jdbcType=VARCHAR},
      </if>
      <if test="forgetTimeout != null">
        forget_timeout = #{forgetTimeout,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="ldapId != null">
        ldap_id = #{ldapId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="lastMode != null">
        last_mode = #{lastMode,jdbcType=VARCHAR},
      </if>
      <if test="currentGroupId != null">
        current_group_id = #{currentGroupId,jdbcType=BIGINT},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="costCenterId != null">
        cost_center_id = #{costCenterId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>